<p id="notice"><%= notice %></p>

<h1>Список страниц</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Название</th>
      <th>Контент</th>
      <th>Картинка</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_pages.each do |admin_page| %>
      <tr>
        <td><%= admin_page.title %></td>
        <td><%= admin_page.content %></td>
        <td><%= admin_page.image %></td>
        <td><%= link_to 'Show', admin_page %></td>
        <td><%= link_to 'Edit', edit_admin_page_path(admin_page) %></td>
        <td><%= link_to 'Destroy', admin_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_admin_page_path %>
