<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_page.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @admin_page.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @admin_page.image %>
</p>

<%= link_to 'Edit', edit_admin_page_path(@admin_page) %> |
<%= link_to 'Back', admin_pages_path %>
