<%= form_for(@admin_comment) do |f| %>
  <% if @admin_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_comment.errors.count, "error") %> prohibited this admin_comment from being saved:</h2>

      <ul>
      <% @admin_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text, class: "form-control ckeditor" %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.collection_select(:item_id, Admin::Item.all, :id, :title) %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-default" %>
  </div>
<% end %>
