<p id="notice"><%= notice %></p>

<h1>Комментарии к товарам</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th>Комментарий</th>
      <th>Рейтинг</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_comments.each do |admin_comment| %>
      <tr>
        <td><%= admin_comment.name %></td>
        <td><%= admin_comment.email %></td>
        <td><%= admin_comment.text %></td>
        <td><%= admin_comment.rating %></td>
        <td><%= link_to 'Show', admin_comment %></td>
        <td><%= link_to 'Edit', edit_admin_comment_path(admin_comment) %></td>
        <td><%= link_to 'Destroy', admin_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_admin_comment_path %>
