<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_comment.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_comment.email %>
</p>

<p>
  <strong>Text:</strong>
  <%= @admin_comment.text %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @admin_comment.rating %>
</p>

<%= link_to 'Edit', edit_admin_comment_path(@admin_comment) %> |
<%= link_to 'Back', admin_comments_path %>
