<%= form_for(@admin_postcomment) do |f| %>
  <% if @admin_postcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_postcomment.errors.count, "error") %> prohibited this admin_postcomment from being saved:</h2>

      <ul>
      <% @admin_postcomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text, class: "form-control ckeditor" %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.collection_select(:post_id, Admin::Post.all, :id, :title) %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-default" %>
  </div>
<% end %>
