<p id="notice"><%= notice %></p>

<h1>Комментарии к записям блога</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th>Комментарий</th>
      <th>Пост</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_postcomments.each do |admin_postcomment| %>
      <tr>
        <td><%= admin_postcomment.author %></td>
        <td><%= admin_postcomment.email %></td>
        <td><%= admin_postcomment.text %></td>
        <td><%= admin_postcomment.post.title %></td>
        <td><%= link_to 'Show', admin_postcomment %></td>
        <td><%= link_to 'Edit', edit_admin_postcomment_path(admin_postcomment) %></td>
        <td><%= link_to 'Destroy', admin_postcomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postcomment', new_admin_postcomment_path %>
