<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @admin_postcomment.author %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_postcomment.email %>
</p>

<p>
  <strong>Text:</strong>
  <%= @admin_postcomment.text %>
</p>

<p>
  <strong>Post:</strong>
  <%= @admin_postcomment.post_id %>
</p>

<%= link_to 'Edit', edit_admin_postcomment_path(@admin_postcomment) %> |
<%= link_to 'Back', admin_postcomments_path %>
