<div id="checkout_page" class="page">
  <div class="wrapper group">
    <h1 class="heading">Оформить заказ</h1>
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <span>/</span>
      <span>Оформить заказ</span>
    </div>
    <div id="checkout">
      <h2>Введите Ваши данные</h2>
        <p class="count">Вы выбрали <%= @cart_count %> товаров на сумму <%= @total_summ %> грн</p>
        <%= form_tag('/cart/order', method: "POST") do %>
        <div class="field">
        <%= label_tag(:name, "Имя:") %>
        <%= text_field_tag(:name) %>
        </div>
        <div class="field">
        <%= label_tag(:email, "E-mail:") %>
        <%= email_field_tag(:email) %>
        </div>
        <%= hidden_field_tag(:summa, @total_summ) %>
        <div class="field">
        <%= label_tag(:paytype, "Способ оплаты:") %>
        <%= collection_select(:paytype,'', Admin::Paytype.all, :id, :title) %>
        </div>
        <div class="field">
        <%= label_tag(:phone, "Телефон:") %>
        <%= telephone_field_tag(:phone) %>  
        </div>
        <div class="field">
        <%= label_tag(:comment, "Комментарий:") %>
        <%= text_area_tag(:comment) %>  
        </div>
        <button type="submit">Заказать</button>
        <% end %>
    </div>
  </div>
</div>
