<div id="cart_page" class="page">
  <div class="wrapper group">
    <h1 class="heading">Корзина</h1>
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <span>/</span>
      <span>Корзина</span>
    </div>
    <div id="cart_items">
      <h2>Выбранные товары</h2>
      <% if @cart_items%>
      <table>
        <% for item in @cart_items %>
          <tr>
            <td>
              <a href="<%= item_link(item) %>">
                <img src="<%= item.image(:thumb) %>" alt="" class="img-resp">
              </a>
            </td>
            <td>
              <p class="title"><a href="<%= item_link(item) %>"><%= item.title %></a></p>
              <p class="cat"><a href="/catalog/<%= item.category.slug %>"><%= item.category.title %></a></p>
            </td>
            <td>
              <%= @cart[item.id.to_s] %> x <%= item.price %>
            </td>
            <td>
              <%= @cart[item.id.to_s].to_i * item.price.to_i %>
            </td>
            <td>
              <a href="#" data-id="<%= item.id %>" class="delete_item_from_cart"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
        <% end %>
      </table>
      <p>Общая сумма заказа: <%= @total_summ %> грн</p>
      <p><a href="/cart/checkout">Оформить заказ</a></p>
      <% else %>
      <p>Ваша корзина пока пуста </p>
      <% end %>
    </div>
  </div>
</div>
