
<%= form_for(@admin_item) do |f| %>
  <% if @admin_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_item.errors.count, "error") %> prohibited this admin_item from being saved:</h2>

      <ul>
      <% @admin_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control ckeditor" %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.collection_select(:category_id, Admin::Category.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :price_old %><br>
    <%= f.number_field :price_old, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :seotitle %><br>
    <%= f.text_field :seotitle, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :seodesc %><br>
    <%= f.text_field :seodesc, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :seokeywords %><br>
    <%= f.text_field :seokeywords, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :actionitem %><br>
    <%= f.check_box :actionitem %>
  </div>
  <div class="field">
    <%= f.label :action_id %><br>
    <%= f.collection_select(:action_id, Admin::Action.all, :id, :title) %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-default" %>
  </div>
<% end %>
