<p id="notice"><%= notice %></p>

<h1>Список товаров</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Название</th>
      <th>Цена</th>
      <th>Описание</th>
      <th>Sku</th>
      <th>Картинка</th>
      <th>Категория</th>
      <th>Рейтинг</th>
      <th>Старая цена</th>
      <th>Кол-во</th>
      <th>Seo заголовок</th>
      <th>Seo описание</th>
      <th>Seo ключевые слова</th>
      <th>Акционный товар</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_items.each do |admin_item| %>
      <tr>
        <td><%= admin_item.title %></td>
        <td><%= admin_item.price %></td>
        <td><%= admin_item.description %></td>
        <td><%= admin_item.sku %></td>
        <td><%= image_tag(admin_item.image, size: "50x50") %></td>
        <td><%= admin_item.category.title %></td>
        <td><%= admin_item.rating %></td>
        <td><%= admin_item.price_old %></td>
        <td><%= admin_item.quantity %></td>
        <td><%= admin_item.seotitle %></td>
        <td><%= admin_item.seodesc %></td>
        <td><%= admin_item.seokeywords %></td>
        <td>
          <% if admin_item.actionitem  %>
            Да
          <% else %>
            Нет
          <% end %>  
        </td>
        <td><%= link_to 'Show', admin_item %></td>
        <td><%= link_to 'Edit', edit_admin_item_path(admin_item) %></td>
        <td><%= link_to 'Destroy', admin_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_admin_item_path %>
