<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_item.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_item.description %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @admin_item.sku %>
</p>

<p>
  <strong>Image:</strong>
  <%= @admin_item.image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @admin_item.category.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @admin_item.rating %>
</p>

<p>
  <strong>Price old:</strong>
  <%= @admin_item.price_old %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @admin_item.quantity %>
</p>

<p>
  <strong>Seotitle:</strong>
  <%= @admin_item.seotitle %>
</p>

<p>
  <strong>Seodesc:</strong>
  <%= @admin_item.seodesc %>
</p>

<p>
  <strong>Seokeywords:</strong>
  <%= @admin_item.seokeywords %>
</p>

<p>
  <strong>Actionitem:</strong>
  <%= @admin_item.actionitem %>
</p>
<% if @admin_item.action %>
<p>
  <strong>Название акции:</strong>
  <%= @admin_item.action.title %>
</p>
<% end %>
<p>Комментарии:</p>
<% for comment in @admin_item.comments %>
<p>
  <strong><%= comment.name %> - <%= comment.email %></strong><br>
  <%= comment.text %>
</p>
<% end %>
<%= link_to 'Edit', edit_admin_item_path(@admin_item) %> |
<%= link_to 'Back', admin_items_path %>
