<p id="notice"><%= notice %></p>

<h1>Отзывы клиентов</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Город</th>
      <th>Отзыв</th>
      <th>Фото</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_reviews.each do |admin_review| %>
      <tr>
        <td><%= admin_review.name %></td>
        <td><%= admin_review.city %></td>
        <td><%= admin_review.text %></td>
        <td><%= image_tag admin_review.foto, :size => "100x100" %></td>
        <td><%= link_to 'Show', admin_review %></td>
        <td><%= link_to 'Edit', edit_admin_review_path(admin_review) %></td>
        <td><%= link_to 'Destroy', admin_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_admin_review_path %>
