<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_review.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin_review.city %>
</p>

<p>
  <strong>Text:</strong>
  <%= @admin_review.text %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @admin_review.foto %>
</p>

<%= link_to 'Edit', edit_admin_review_path(@admin_review) %> |
<%= link_to 'Back', admin_reviews_path %>
