<%= form_for(@admin_paytype) do |f| %>
  <% if @admin_paytype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_paytype.errors.count, "error") %> prohibited this admin_paytype from being saved:</h2>

      <ul>
      <% @admin_paytype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-default"%>
  </div>
<% end %>
