<p id="notice"><%= notice %></p>

<h1>Способы оплаты</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_paytypes.each do |admin_paytype| %>
      <tr>
        <td><%= admin_paytype.title %></td>
        <td><%= link_to 'Show', admin_paytype %></td>
        <td><%= link_to 'Edit', edit_admin_paytype_path(admin_paytype) %></td>
        <td><%= link_to 'Destroy', admin_paytype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paytype', new_admin_paytype_path %>
