<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_paytype.title %>
</p>

<%= link_to 'Edit', edit_admin_paytype_path(@admin_paytype) %> |
<%= link_to 'Back', admin_paytypes_path %>
