<%= form_for(@admin_order) do |f| %>
  <% if @admin_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_order.errors.count, "error") %> prohibited this admin_order from being saved:</h2>

      <ul>
      <% @admin_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :summ %><br>
    <%= f.number_field :summ, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :payed %><br>
    <%= f.check_box :payed %>
  </div>
  <div class="field">
    <%= f.label :paytype_id %><br>
    <%= f.collection_select(:paytype_id, Admin::Paytype.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :item_ids %><br>
    <%= f.collection_select(:item_ids, Admin::Item.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: "form-control ckeditor" %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-default" %>
  </div>
<% end %>
