<p id="notice"><%= notice %></p>

<h1>Заказы</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th>Сумма</th>
      <th>Оплачено</th>
      <th>Способ оплаты</th>
      <th>Телефон</th>
      <th>Комментарий</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_orders.each do |admin_order| %>
      <tr>
        <td><%= admin_order.name %></td>
        <td><%= admin_order.email %></td>
        <td><%= admin_order.summ %></td>
        <td><%= admin_order.payed %></td>
        <td><%= admin_order.paytype.title %></td>
        <td><%= admin_order.phone %></td>
        <td><%= admin_order.comment %></td>
        <td><%= link_to 'Show', admin_order %></td>
        <td><%= link_to 'Edit', edit_admin_order_path(admin_order) %></td>
        <td><%= link_to 'Destroy', admin_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_admin_order_path %>
