<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_order.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_order.email %>
</p>

<p>
  <strong>Summ:</strong>
  <%= @admin_order.summ %>
</p>

<p>
  <strong>Payed:</strong>
  <%= @admin_order.payed %>
</p>

<p>
  <strong>Paytype:</strong>
  <%= @admin_order.paytype.title %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @admin_order.phone %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @admin_order.comment %>
</p>

<p>
  <strong>Items:</strong>
  <% for item in @admin_order.items %>
    <%= item.title %>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_order_path(@admin_order) %> |
<%= link_to 'Back', admin_orders_path %>
