<div id="first_screen">
      <div class="wrapper group">
          <a href="/"><img src="/images/logo.jpg" alt="Design Webboom" class="img-resp"></a>
              <nav>
                  <ul class="unstyle group">
                    <li><a href="#last_items">Последние работы</a></li>
                    <li><a href="#own_actions">Акции</a></li>
                    <li><a href="#own_posts">Последние записи</a></li>
                    <li><a href="#reviews">Отзывы</a></li>
                  </ul>
                </nav>

        </div>
    </div>
<div id="about">
      <div class="wrapper group">
                <div class="textwidget"><h1 class="heading">Разработка деревянных изделий <br>от мастерской Wood Boom</h1>
<p>Привет, мы молодая мастерская Wood Boom. Занимаемся изготовлением изделий из дерева для праздников, фотосессий и просто для хорошо настроения. 
Закажите у нас подарок для друзей, родных или просто для себя - и море позитивных эмоций вам обеспечено.</p>
<p>Вы можете заказать буквы или слова из дерева, фоторамки, украшения для дома, для свадеб и фотосессий. Если Вы хотите украсить свой дом и придать ему тепло и уют, то мы сможем вам помочь.</p>
<p>Наши изделия выполнены из качественных материалов, мы используем нетоксичные краски на водной основе - наши изделия подарят вам тепло и радость.</p></div>
            </div>
    </div>

<% if @items.length > 0 %>
<div id="last_items">
    <div class="wrapper group">
        <h2 class="heading">Последние работы</h2>
        <ul class="group bxslider unstyle">
          <% for item in @items %>
          <li>
            <div class="image">
              <a href="<%= item_link(item) %>">
                <img src="<%= item.image(:medium) %>" alt="" class="img-resp">
              </a>
            </div>
              <p class="title"><a href="<%= item_link(item) %>"><%= item.title %></a></p>
                <p>Цена: <%= item.price %> грн <a href="#" data-id="<%= item.id %>" data-count="1" class="addtocart" style="float:right;">Купить</a></p>
          </li>
          <% end %>
        </ul>
    </div>
</div>            
<% end %>

    <div id="add_request" data-stellar-background-ratio="0.5">
        <div class="wrapper group">
            <p class="head">Оставьте заявку</p>
                <p class="span">и мы с Вами свяжемся</p>
                    <div class="ball transition"><a href="#" class="transition"><i class="fa fa-pencil"></i></a></div>
        </div>
    </div>

<% if @actions.length > 0 %>
<div id="own_actions">
  <div class="wrapper group">
    <h3>Акции</h3>
    <ul class="group unstyle">
      <% for action in @actions %>
        <li>
           <div class="image"><a href="/actions/<%= item.slug %>"><img src="<%= action.image(:medium) %>" alt="" class="img-resp"></a></div>
           <p class="title"><a href="/actions/<%= item.slug %>"><%= action.title %></a></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<% if @posts.length > 0 %>
<div id="own_posts">
  <div class="wrapper group">
    <h3>Последнее из блога</h3>
    <div class="articles">
      <% for post in @posts %>
        <article>
           <div class="image"><a href="/blog/<%= post.slug %>"><img src="<%= post.image(:medium) %>" alt="" class="img-resp"></a></div>
           <p class="title"><a href="/blog/<%= post.slug %>"><%= post.title %></a></p>
           <div class="intro">
             <%= truncate(post.content.html_safe, length:165) %>
           </div>
           <p class="more"><a href="/blog/<%= post.slug %>">Читать далее</a></p>
        </article>
      <% end %>
    </div>
  </div>
</div>
<% end %>

    <div id="reviews">
      <div class="wrapper group">
          <h4 class="heading">Отзывы наших клиентов</h4>
            <ul class="group unstyle">
                <% for review in @reviews %>
                    <li>
                      <p class="date"><span><%= review.created_at.strftime('%d') %></span> <%= review.created_at.strftime('%B') %></p>
                          <p class="name"><%= review.name %></p>
                              <%= review.text.html_safe %>
                    </li>
                <% end %>
                    
                </ul>
        </div>
    </div>