<%= form_for(@admin_tag) do |f| %>
  <% if @admin_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_tag.errors.count, "error") %> prohibited this admin_tag from being saved:</h2>

      <ul>
      <% @admin_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <!--<div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug, class: "form-control" %>
  </div>-->
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-default" %>
  </div>
<% end %>
