<p id="notice"><%= notice %></p>

<h1>Список тегов для блога</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Название</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_tags.each do |admin_tag| %>
      <tr>
        <td><%= admin_tag.title %></td>
        <td><%= admin_tag.slug %></td>
        <td><%= link_to 'Show', admin_tag %></td>
        <td><%= link_to 'Edit', edit_admin_tag_path(admin_tag) %></td>
        <td><%= link_to 'Destroy', admin_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_admin_tag_path %>
