<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_tag.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @admin_tag.slug %>
</p>

<%= link_to 'Edit', edit_admin_tag_path(@admin_tag) %> |
<%= link_to 'Back', admin_tags_path %>
