<%= form_for(@admin_post) do |f| %>
  <% if @admin_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_post.errors.count, "error") %> prohibited this admin_post from being saved:</h2>

      <ul>
      <% @admin_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <!--<div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug, class: "form-control" %>
  </div>-->
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control ckeditor" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.collection_select(:tag_ids, Admin::Tag.all, :id, :title, include_blank: 'Нет тегов', :multiple => true) %>
   
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", :class => 'btn btn-default' %>
  </div>
<% end %>
