<p id="notice"><%= notice %></p>

<h1>Записи блога</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Название</th>
      <th>Slug</th>
      <th>Содержание</th>
      <th>Картинка</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_posts.each do |admin_post| %>
      <tr>
        <td><%= admin_post.title %></td>
        <td><%= admin_post.slug %></td>
        <td><%= admin_post.content %></td>
        <td><%= admin_post.image %></td>
        <td><%= link_to 'Show', admin_post %></td>
        <td><%= link_to 'Edit', edit_admin_post_path(admin_post) %></td>
        <td><%= link_to 'Destroy', admin_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_admin_post_path %>
