<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_post.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @admin_post.slug %>
</p>

<p>
  <strong>Content:</strong>
  <%= @admin_post.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @admin_post.image %>
</p>

<%= link_to 'Edit', edit_admin_post_path(@admin_post) %> |
<%= link_to 'Back', admin_posts_path %>
