<p id="notice"><%= notice %></p>

<h1>Список акций</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Картинка</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_actions.each do |admin_action| %>
      <tr>
        <td><%= admin_action.title %></td>
        <td><%= admin_action.text %></td>
        <td><%= image_tag(admin_action.image, size: "100x100") %></td>
        <td><%= link_to 'Show', admin_action %></td>
        <td><%= link_to 'Edit', edit_admin_action_path(admin_action) %></td>
        <td><%= link_to 'Destroy', admin_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action', new_admin_action_path %>
