<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_action.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @admin_action.text %>
</p>

<p>
  <strong>Image:</strong>
  <%= @admin_action.image %>
</p>

<%= link_to 'Edit', edit_admin_action_path(@admin_action) %> |
<%= link_to 'Back', admin_actions_path %>
