<div id="catalog_page" class="page">
  <div class="wrapper group">
    <h1 class="heading"><%= @cat.title %></h1>
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <span>/</span>
      <a href="/catalog">Каталог</a>
      <span>/</span>
      <span><%= @cat.title %></span>
    </div>
    <div class="catalog_container">
      <ul class="group unstyle">
          <% for item in @cat.items %>
          <li>
            <div class="image">
              <a href="<%= item_link(item) %>">
                <img src="<%= item.image(:medium) %>" alt="" class="img-resp">
              </a>
            </div>
              <p class="title"><a href="<%= item_link(item) %>"><%= item.title %></a></p>
                <p>Цена: <%= item.price %> грн <a href="#" data-id="<%= item.id %>" data-count="1" class="addtocart" style="float:right;">Купить</a></p>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>