<div id="catalog_page" class="page">
  <div class="wrapper group">
    <h1 class="heading">Каталог</h1>
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <span>/</span>
      <span>Каталог</span>
    </div>
    <div class="catalog_container">
      <% for cat in @cats %>
        <div class="category">
        <a href="/catalog/<%= cat.slug %>">
          <%= image_tag cat.image(:medium) %>
        </a>
        <p class="title"><a href="/catalog/<%= cat.slug %>"><%= cat.title %></a></p>
        <div class="desc">
          <%= cat.description.html_safe %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>