<div id="catalog_page" class="page">
  <div class="wrapper group">
    <h1 class="heading"><%= @item.title %></h1>
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <span>/</span>
      <a href="/catalog">Каталог</a>
      <span>/</span>
      <a href="/catalog/<%= @item.category.slug %>"><%= @item.category.title %></a>
      <span>/</span>
      <span><%= @item.title %></span>
    </div>
    <div class="catalog_container group">
              <a href="<%= @item.image %>" class="popup">
                <img src="<%= @item.image %>" alt="" class="img-resp">
              </a>
    </div>
  </div>
</div>
