<%= form_for(@admin_category) do |f| %>
  <% if @admin_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
      <% @admin_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :seotitle %><br>
    <%= f.text_field :seotitle, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :seodesc %><br>
    <%= f.text_field :seodesc, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :seokeywords %><br>
    <%= f.text_field :seokeywords, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control ckeditor" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.collection_select(:parent_id, Admin::Category.all, :id, :title, include_blank: 'Нет родительской рубрики') %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-default" %>
  </div>
<% end %>
