<p id="notice"><%= notice %></p>

<h1>Список категорий товаров</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Название</th>
      <th>Seo название</th>
      <th>Seo описание</th>
      <th>Seo ключевые слова</th>
      <th>Описание</th>
      <th>Миниатюра</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_categories.each do |admin_category| %>
      <tr>
        <td><%= admin_category.title %></td>
        <td><%= admin_category.seotitle %></td>
        <td><%= admin_category.seodesc %></td>
        <td><%= admin_category.seokeywords %></td>
        <td><%= admin_category.description %></td>
        <td><%= admin_category.image %></td>
        <td><%= link_to 'Show', admin_category %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(admin_category) %></td>
        <td><%= link_to 'Destroy', admin_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Category', new_admin_category_path %>
