<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_category.title %>
</p>

<p>
  <strong>Seotitle:</strong>
  <%= @admin_category.seotitle %>
</p>

<p>
  <strong>Seodesc:</strong>
  <%= @admin_category.seodesc %>
</p>

<p>
  <strong>Seokeywords:</strong>
  <%= @admin_category.seokeywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_category.description %>
</p>

<p>
  <strong>Image:</strong>
  <% if @admin_category.image %>
  <%= @admin_category.image %>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_category_path(@admin_category) %> |
<%= link_to 'Back', admin_categories_path %>
