@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic);
@import url('jquery.bxslider.css');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, footer, aside, nav, section, article, hgroup, figure{
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  border:0;
  outline:0;
  background:transparent;
}

ol, ul{
  list-style:none;  
}

blockquote, q{
  quotes:none;
}

:focus{
  outline:none;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}
textarea{
  resize:none;  
}
button{
  cursor:pointer; 
}
body{
  font-family:'Open Sans', sans-serif;  
}
h1{
  font-size:36px;
}
h2{
  font-size:32px;
}
h3{
  font-size:28px;
}
h4{
  font-size:24px;
}
h5{
  font-size:20px;
}
h6{
  font-size:18px;
}
a{
  text-decoration:none; 
}
a:hover{
  text-decoration:underline;  
}
p{
  font:14px/18px 'Open Sans', sans-serif;
}
img.img-resp{
  display:block;
  max-width:100%;
  max-height:100%;
  margin:auto auto;
}
blockquote{
  background:#F6F6F6;
  display:block;
  padding:30px 28px 37px;
  color:#2C2C2C;
  font:italic 18px/18px 'Open Sans', sans-serif;
  position:relative;
}
blockquote:before{
  content:"“";
  color:#4F4F4F;
  font:italic 48px Verdana, Geneva, sans-serif;
  position:absolute;
  top:21px;
  left:-14px; 
}
blockquote p{
  color:#2C2C2C;
  font:italic 18px/18px 'Open Sans', sans-serif;
  margin-bottom:0;
}
ul{
  position:relative;
}
ul li{
  position:relative;
  padding-left:15px;
}
ul li:before{
  content:"";
  width:6px;
  height:6px;
  background:#000000;
  position:absolute;
  left:0;
  top:50%;
  margin-top:-3px;  
}
ol{
  position:relative;
}
ol li{
  position:relative;
  padding-left:15px;
}
ul.unstyle li, nav ul li{
  padding-left:0; 
}
ul.unstyle li:before, nav ul li:before{
  width:0;
  height:0; 
}
ol.unstyle li{
  padding-left:0; 
}
input{
  box-sizing:border-box;
  -moz-box-sizing:border-box; 
}
textarea{
  box-sizing:border-box;
  -moz-box-sizing:border-box; 
}
/*
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)*/
 @font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.3.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-genderless:before,.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}

 header, nav, section, article, aside, figure, hgroup, footer, time{
  display:block;  
}
.group:after{
  content: ".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  overflow:hidden;
}
.clear{
  clear:both; 
}
.transition{
  -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;  
}
.wrapper{
  margin:auto auto;
  position:relative;
  width:960px;  
}
#first_screen{
  margin-top:70px;
}
#first_screen nav{
  text-align:center;
  position:absolute;
  left:0;
  bottom:70px;
  width:100%; 
}
#first_screen nav:before{
  content:"";
  width:959px;
  height:10px;
  background:url(../images/line.jpg) no-repeat;
  position:absolute;
  left:0;
  bottom:-40px; 
}
#first_screen nav.hide{
  transform:scale(0,0); 
}
#first_screen nav ul li{
  display:inline-block;
  margin:0 15px;
}
#first_screen nav ul li a{
  color:#5C5C5C;
  font:24px 'Ubuntu', sans-serif;
  text-transform:uppercase; 
}
#first_screen nav ul li a:hover{
  color:#000000;
  text-decoration:none; 
}
header{
  width:100%;
  height:70px;
  position:fixed;
  top:0px;
  left:0;
  z-index:100;
  background:#ffffff; 
}
header.show{
  top:0;
  box-shadow:5px 5px 15px rgba(179,179,179,0.75); 
}
header #logo{
  display:block;
  width:90px;
  height:70px;
  background:url(../images/icon1.png) no-repeat;
  float:left; 
}
header nav{
  float:left;
  margin-left:110px;  
}
header nav ul li{
  float:left;
  margin:25px 0 0 30px; 
}
header nav ul li a{
  color:#5C5C5C;
  font:21px 'Ubuntu', sans-serif;
  text-transform:lowercase; 
}
header nav ul li a:hover{
  color:#000000;
  text-decoration:none;
}
header a.show_menu{
  display:none;
}

header .right_buttons{
  float:right;
  margin-top:25px;
}
header .right_buttons a.login{
  color:#5C5C5C;
  font:21px 'Ubuntu', sans-serif;
  text-transform:lowercase;
  display: inline-block;
  vertical-align: middle; 
}
header .right_buttons a.user{
  color:#5C5C5C;
  font:16px 'Ubuntu', sans-serif;
  text-transform:lowercase;
  display: inline-block;
  vertical-align: middle; 
}
header .right_buttons a.logout{
  color:#5C5C5C;
  font:14px 'Ubuntu', sans-serif;
  text-transform:lowercase;
  display: inline-block;
  vertical-align: middle; 
}
header .right_buttons .small_cart{
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  color:#5C5C5C;
  font:16px 'Ubuntu', sans-serif;
}
header .right_buttons .small_cart a{
  color:#5C5C5C;
  font:16px 'Ubuntu', sans-serif;
  text-decoration: none; 
}
header .login_form{
  width:300px;
  background: #ffffff;
/*  border:1px solid #FF453F;*/
  position: absolute;
  top:100%;
  right:0;
  padding: 10px;
  display: none;
}
header .login_form input[type="text"], header .login_form input[type="password"]{
  width:100%;
  height:34px;
  border:1px solid #cccccc;
  border-radius: 4px;
  padding: 0 0 0 10px;
  margin-bottom: 5px;
}
header .login_form input[type="submit"]{
  border:none;
  width:120px;
  height:28px;
  border-radius: 4px;
  background: #FF9C00;
  color:#ffffff;
  font:14px 'Ubuntu', sans-serif;
  margin:10px 0;
}
header .login_form p{
  font:14px 'Ubuntu', sans-serif;
}
header .login_form p a{
  color:#5C5C5C;
}
#about{
  margin-top:40px;
}
#about h1{
  text-align:center;
  color:#000000;
  font:bold 36px/43px 'Ubuntu', sans-serif;
  margin-bottom:40px;
}
.heading{
  position:relative;
}
.heading:before{
  content:"";
  width:100px;
  height:3px;
  background:#FF0000;
  position:absolute;
  left:50%;
  margin-left:-50px;
  top:-15px;  
}
#about p{
  color:#000000;
  font:300 17px/20px 'Ubuntu', sans-serif;
  margin-bottom:8px;  
}
#banner{
  width:100%;
  height:849px;
  background:url(../images/back2.jpg) no-repeat center;
  margin-top:50px;  
}
#banner div.hgroup{
  text-align:center;
  padding-top:340px;
}
#banner div.hgroup p.head{
  color:#ffffff;
  font:bold 120px 'Ubuntu', sans-serif;
  text-transform:uppercase;
  text-shadow:3px 3px 10px rgba(186,184,184,0.75);
}
#banner div.hgroup p.span{
  color:#ffffff;
  font:bold 60px 'Ubuntu', sans-serif;
  text-shadow:3px 3px 10px rgba(186,184,184,0.75);
  margin-top:-5px;
}
#banner div.ball{
  width:100px;
  height:100px;
  background:#ffffff;
  border-radius:50%;
  text-align:center;
  margin:40px auto auto;
  font-size:36px;
  line-height:100px;  
}
#banner div.ball a{
  color:#FFDC3D;
}
#banner div.ball:hover{
  background:#BD4467; 
}
#banner div.ball:hover a{
  color:#ffffff;
  text-decoration:none; 
}
#our{
  margin-top:60px;
  background:url(../images/back3.jpg) no-repeat 50% 0px;
  padding-bottom:190px;
}
#our h2{
  text-align:center;
  color:#000000;
  font:bold 36px/43px 'Ubuntu', sans-serif;
  margin-bottom:100px;
}
#our div.one{
  width:400px;
  float:left;
  margin-bottom:65px;
}
#our div.one:nth-child(odd){
  float:right;
}
#our div.one div.icon{
  float:left;
  width:65px;
  height:65px;
  background:#00E4A6;
  border-radius:50%;
  text-align:center;
  color:#ffffff;
  font-size:24px;
  line-height:65px; 
}
#our div.one:nth-child(odd) div.icon{
  float:right;
  margin-left:15px; 
}
#our div.one:nth-child(2n) div.icon{
  background:#00D7D7; 
}
#our div.one:nth-child(3n) div.icon{
  background:#FF5734; 
}
#our div.one:nth-child(4n) div.icon{
  background:#FFA900; 
}
#our div.one div.text{
  width:315px;
  float:right;  
}
#our div.one:nth-child(odd) div.text{
  text-align:right; 
}
#our div.one div.text p.title{
  color:#000000;
  font:18px 'Ubuntu', sans-serif;
  text-transform:uppercase;
  margin-bottom:10px;
}
#our div.one div.text p{
  color:#5C5C5C;
  font:300 16px 'Ubuntu', sans-serif;
}
#portfolio{
/*  max-height:550px; */
}
#portfolio div.site{
  width:25%;
  max-height:300px;
  float:left;
  position:relative;
  overflow:hidden;  
  -webkit-transition: all ease-out 0.9s;
    -moz-transition: all ease-out 0.9s;
    -o-transition: all ease-out 0.9s;
    transition: all ease-out 0.9s;
  /*transform*/ 
  transform-style: preserve-3d;
  transform: perspective(900px);
  transform-origin: y x;
  transform: rotate3d(1, 1, 0, 90deg); 
}
#portfolio div.site.show{
  transform: rotate3d(0, 0, 0, 90deg);
}
#portfolio div.site img{
  display:block;
  max-width:100%;
  height:auto !important; 
}
#portfolio div.site:hover img{
  transform:scale(1.3,1.3);
}
#portfolio div.site div.caption{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:#FE352B;
  z-index:10;
  text-align:center;
  box-sizing:border-box;
  opacity:0;  
  -webkit-transition: all ease-out 1.1s;
    -moz-transition: all ease-out 1.1s;
    -o-transition: all ease-out 1.1s;
    transition: all ease-out 1.1s;  
}
#portfolio div.site:hover div.caption{
  opacity:1.0;
}
#portfolio div.site div.caption div.inside{
  display:table-cell;
/*  height:100%;
  width:100%;*/
  vertical-align:middle;  
}
#portfolio div.site div.caption p{
  color:#ffffff;
  font:17px 'Ubuntu', sans-serif;
  margin-bottom:40px; 
}
#portfolio div.site div.caption div.heart{
  width:60px;
  height:60px;
  background:#ffffff;
  border-radius:50%;
  margin:auto auto;
  color:#FE352B;
  font-size:24px;
  line-height:60px; 
}
#portfolio div.site div.caption a{
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:15; 
}
#schema{
  margin-top:50px;
}
#schema h3{
  text-align:center;
  color:#000000;
  font:bold 36px/43px 'Ubuntu', sans-serif;
  margin-bottom:100px;
}
#schema ul{
  
}
#schema ul li{
  float:left;
  text-align:center;
  position:relative;
}
#schema ul li.step1{
  width:210px;
  margin:115px 0 0 0;
}
#schema ul li.step1:before{
  content:"";
  width:60px;
  height:61px;
  background:url(../images/point1.png) no-repeat;
  position:absolute;
  left:132px;
  top:150px;  
}
#schema ul li.step2{
  width:275px;
  margin:315px 0 0 -215px;
}
#schema ul li.step2:before{
  content:"";
  width:55px;
  height:177px;
  background:url(../images/point2.png) no-repeat;
  position:absolute;
  left:230px;
  top:-175px; 
}
#schema ul li.step3{
  width:160px;
  margin:0px 0 0 -70px;
}
#schema ul li.step3:before{
  content:"";
  width:69px;
  height:53px;
  background:url(../images/point3.png) no-repeat;
  position:absolute;
  left:120px;
  top:125px;  
}
#schema ul li.step4{
  width:160px;
  margin:165px 0 0 -10px;
}
#schema ul li.step4:before{
  content:"";
  width:119px;
  height:76px;
  background:url(../images/point4.png) no-repeat;
  position:absolute;
  left:125px;
  top:-50px;  
}
#schema ul li.step5{
  width:330px;
  margin:35px 0 0 -160px;
}
#schema ul li.step5:before{
  content:"";
  width:118px;
  height:32px;
  background:url(../images/point5.png) no-repeat;
  position:absolute;
  left:325px;
  top:20px; 
}
#schema ul li.step6{
  width:175px;
  margin:-25px 0 0 75px;
}
#schema ul li.step6:before{
  content:"";
  width:38px;
  height:69px;
  background:url(../images/point6.png) no-repeat;
  position:absolute;
  left:40px;
  top:140px;  
}
#schema ul li.step7{
  width:300px;
  margin:55px 0 0 35px;
}
#schema ul li.step7:before{
  content:"";
  width:43px;
  height:67px;
  background:url(../images/point7.png) no-repeat;
  position:absolute;
  left:270px;
  top:97px; 
}
#schema ul li.step8{
  width:400px;
  margin:65px 30px 0 0px;
  float:right;
}
#schema ul li p{
  color:#2A1408;
  font:14px 'Ubuntu', sans-serif;
  margin-bottom:10px;
  letter-spacing:-1px;  
}
#schema ul li p a{
  color:#2A1408;
}
#schema ul li.step2 p{
  width:180px;
  float:left;
  margin-top:30px;
}
#schema ul li.step4 p{
  position:absolute;
  left:0;
  top:110px;
  width:160px;  
}
#schema ul li.step5 p{
  width:225px;
  float:left;
  margin-top:30px;
}
#schema ul li.step7 p{
  width:200px;
  float:left;
  margin-top:30px;
}
#schema ul li.step8 p{
  width:300px;
  float:left;
  margin-top:15px;
  color:#FF344E;
  font:bold 19px 'Ubuntu', sans-serif;
  text-transform:uppercase;
}
#add_request{
  width:100%;
  height:550px;
  background:url(../images/back.jpg) no-repeat 50% 0%;
  background-size:100% auto;
  margin-top:65px;
  position: relative; 
}
#add_request:before{
  content:"";
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top:0;
  left:0;
  z-index: 4;
}
#add_request div.wrapper{
  z-index: 5;
}
#add_request p.head{
  color:#ffffff;
  font:bold 90px 'Ubuntu', sans-serif;
  text-transform:uppercase;
  text-align:center;
  padding-top:110px;  
}
#add_request p.span{
  color:#ffffff;
  font:500 48px 'Ubuntu', sans-serif;
  text-align:center;
  text-transform:uppercase;
  margin-top:15px;  
}
#add_request div.ball{
  width:100px;
  height:100px;
  background:#ffffff;
  border-radius:50%;
  margin:60px auto auto;
  text-align:center;
  font-size:28px;
  line-height:100px;  
}
#add_request div.ball:hover{
  background:#C32417; 
}
#add_request div.ball a{
  color:#C32417;  
}
#add_request div.ball:hover a{
  color:#ffffff;
}
#reviews{
  margin-top:60px;
}
#reviews h4{
  text-align:center;
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
  margin-bottom:100px;
}
#reviews ul li{
  width:295px;
  float:left;
  margin-left:35px; 
}
#reviews ul li:first-child{
  margin-left:0;  
}
#reviews ul li p.date{
  color:#282828;
  font:300 30px 'Ubuntu', sans-serif;
  text-transform:uppercase;
}
#reviews ul li p.date span{
  font-size:48px;
  font-weight:bold;
  display:inline-block;
  position:relative;
  margin-right:40px;
  margin-top:0; 
}
#reviews ul li p.date span:after{
  content:"";
  width:1px;
  height:78px;
  background:#000000;
  position:absolute;
  top:-10px;
  left:75px;
  transform:rotate(15deg);  
}
#reviews ul li p.name{
  color:#282828;
  font:bold 18px 'Ubuntu', sans-serif;
  text-transform:uppercase;
  margin-top:60px;
}
#reviews ul li p{
  color:#282828;
  font:300 16px 'Ubuntu', sans-serif;
  margin-top:10px;
}
footer{
  width:100%;
  height:487px;
  background:url(../images/footer.jpg) no-repeat center;
  margin-top:155px; 
}
footer div.logo2{
  width:312px;
  height:326px;
  float:left;
  margin:60px 0 0 70px; 
}
footer div.contacts{
  width:260px;
  float:right;
  margin-top:115px; 
}
footer div.contacts p{
  color:#ffffff;
  font:bold 18px/32px 'Open Sans', sans-serif;
  padding-left:50px;
  margin-bottom:25px; 
}
footer div.contacts p.phone{
  background:url(../images/icon2.png) no-repeat 0% 50%; 
}
footer div.contacts p.email{
  background:url(../images/icon3.png) no-repeat 0% 50%; 
}
footer div.contacts p.skype{
  background:url(../images/icon4.png) no-repeat 0% 50%; 
}
footer div.contacts p a{
  color:#ffffff;  
}
footer p.copy{
  text-align:right;
  padding-right:70px;
  color:#ffffff;
  font:bold 18px 'Ubuntu', sans-serif;
  margin-top:60px;  
}
#portfolio_page{
  margin-top:30px;  
}
#portfolio_page h2{
  text-align:center;
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
}
div.breadcrumbs{
  text-align:center;
  margin-top:15px;  
}
div.breadcrumbs a{
  font:17px 'Ubuntu', sans-serif;
  color:#FF0000;
}
div.breadcrumbs a span{
  color:#FF0000;
}
div.breadcrumbs span{
  font:17px 'Ubuntu', sans-serif;
  color:#5c5c5c;
}
#portfolio_page div.portfolio_list{
  margin-top:20px;
  margin-left:-40px;
  height:690px;
  overflow: hidden; 
}
#portfolio_page div.portfolio_list.full{
  height: auto;
}
#portfolio_page a.more{
  text-ailgn: center;
  font:17px 'Ubuntu', sans-serif;
  color:#5C5C5C;
}
#portfolio_page a.more:hover{
  color:#FF0000;
}
#portfolio_page div.portfolio_list div.site{
  width:460px;
  float:left;
  margin-left:40px;
  margin-bottom:40px;
  -webkit-transition: all ease-out 0.9s;
    -moz-transition: all ease-out 0.9s;
    -o-transition: all ease-out 0.9s;
    transition: all ease-out 0.9s;
  /*transform*/ 
  transform-style: preserve-3d;
  transform: perspective(900px);
  transform-origin: y x;
  transform: rotate3d(1, 1, 0, 90deg);  
}
#portfolio_page div.portfolio_list.ready div.site{
  transform: rotate3d(0, 0, 0, 90deg); 
}
#portfolio_page div.portfolio_list div.site:nth-child(odd){
  clear:both;
}
#portfolio_page div.portfolio_list div.site div.image{
  width:460px;
  height:323px;
  overflow:hidden;
  position:relative;  
}
#portfolio_page div.portfolio_list div.site div.image img{
  display:block;
  max-width:100%;
  height:auto !important; 
}
#portfolio_page div.portfolio_list div.site:hover div.image img{
  transform:scale(1.3,1.3);
} 
#portfolio_page div.portfolio_list div.site div.image div.caption{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  background:#FE352B;
  z-index:10;
  text-align:center;
  box-sizing:border-box;
  opacity:0;  
  -webkit-transition: all ease-out 1.1s;
    -moz-transition: all ease-out 1.1s;
    -o-transition: all ease-out 1.1s;
    transition: all ease-out 1.1s;  
}
#portfolio_page div.portfolio_list div.site:hover div.image div.caption{
  opacity:1.0;
}
#portfolio_page div.portfolio_list div.site div.image div.caption div.inside{
  display:table-cell;
/*  height:100%;
  width:100%;*/
  vertical-align:middle;  
}
#portfolio_page div.portfolio_list div.site div.image div.caption div.heart{
  width:60px;
  height:60px;
  background:#ffffff;
  border-radius:50%;
  margin:auto auto;
  color:#FE352B;
  font-size:24px;
  line-height:60px; 
}
#portfolio_page div.portfolio_list div.site div.image div.caption a{
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:15; 
}
#portfolio_page div.portfolio_list div.site div.content{
  margin-top:15px;
} 
#portfolio_page div.portfolio_list div.site div.content p.title{
  color:#000000;
  font:18px 'Ubuntu', sans-serif;
  margin-bottom:10px; 
}
#portfolio_page div.portfolio_list div.site div.content p{
  color:#5c5c5c;
  font:300 16px 'Ubuntu', sans-serif; 
}
#services{
  margin-top:25px;  
}
#services h1{
  text-align:center;
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
}
#services div.services_list{
  margin-top:30px;  
}
#services div.services_list div.one{
  width:50%;
  padding:15px;
  box-sizing:border-box;  
}
#services div.services_list div.one div.number{
  width:65px;
  height:65px;
  background:#FF6D34;
  border-radius:50%;
  text-align:center;
  float:left;
  color:#ffffff;
  font:24px/65px 'Ubuntu', sans-serif;  
}
#services div.services_list div.one div.text{
  width:350px;
  float:right;
  padding-top:10px; 
}
#services div.services_list div.one div.text p.title{
  color:#000000;
  font:bold 28px 'Ubuntu', sans-serif;
  text-transform:uppercase;
  margin-bottom:10px;
}
#services div.services_list div.one div.text p{
  color:#5c5c5c;
  font:19px 'Ubuntu', sans-serif;
  margin-bottom:10px; 
}
#services div.services_list div.one div.text ul{
  margin-bottom:10px; 
}
#services div.services_list div.one div.text ul li{
  color:#5c5c5c;
  font:16px/24px 'Ubuntu', sans-serif;  
}
#services div.services_list div.one div.text ul li:before{
  border-radius:50%;
  background:#5c5c5c; 
}
#services div.services_list div.one div.text p.price{
  color:#FE332F;
  font:bold 20px 'Ubuntu', sans-serif;
  text-transform:uppercase;
}
#services div.request_form{
  margin-top:35px;
}
#services div.request_form p.title{
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
  text-align: center;
  margin-bottom:25px;
}
#services div.request_form form{
  width:500px;
  margin: auto auto;
}
#services div.request_form input{
  width:500px;
  height:30px;
  border:1px solid #cccccc;
  padding:0 0 0 15px;
  font:15px 'Ubuntu', sans-serif;
  margin-bottom:15px;
}
#services div.request_form textarea{
  width:500px;
  height:130px;
  border:1px solid #cccccc;
  padding:0 0 0 15px;
  font:15px 'Ubuntu', sans-serif;
  margin-bottom:15px;
}
#services div.request_form button{
  width:300px;
  height:40px;
  border:none;
  background:#FF6D34;
  color:#ffffff;
  display: block;
  margin: auto auto;
  font:bold 16px 'Ubuntu', sans-serif;
  -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;  
}
#services div.request_form button:hover{
  background:#FF302C;
}
#contact_page{
  margin-top:25px;  
}
#contact_page h1{
  text-align:center;
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
}
#contact_page #map{
  height:400px;
  width:100%;
  overflow:hidden;
  margin-top:25px;
}
#contact_page div.data{
  width:300px;
  float:left;
  margin-top:25px;
}
#contact_page div.data p{
  font:300 17px 'Ubuntu', sans-serif;
  margin-bottom:10px;
}
#contact_page div.form{
  width:500px;
  float:right;
  margin-top:25px;
}
#contact_page div.form p.head{
  color:#000000;
  font:bold 24px 'Ubuntu', sans-serif;
  margin-bottom:15px;
}
#contact_page div.form input{
  width:500px;
  height:30px;
  border:1px solid #cccccc;
  padding:0 0 0 15px;
  font:15px 'Ubuntu', sans-serif;
  margin-bottom:15px;
}
#contact_page div.form textarea{
  width:500px;
  height:130px;
  border:1px solid #cccccc;
  padding:0 0 0 15px;
  font:15px 'Ubuntu', sans-serif;
  margin-bottom:15px;
}
#contact_page div.form button{
  width:300px;
  height:40px;
  border:none;
  background:#FF6D34;
  color:#ffffff;
  font:bold 16px 'Ubuntu', sans-serif;
  -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;  
}
#contact_page div.form button:hover{
  background:#FF302C;
}
#blog{
  margin-top:25px;  
}
#blog h1{
  text-align:center;
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
}
#blog div.articles{
  width:600px;
  float:left;
  margin-top:30px;
}
#blog div.articles article{
  margin-bottom:20px;
}
#blog div.articles article div.thumbnail{
  margin-bottom:15px;
}
#blog div.articles article p.title{
  font:bold 22px 'Ubuntu', sans-serif;
  margin-bottom:10px;
  text-transform:uppercase;
}
#blog div.articles article p.title a{
  color:#000000;
}
#blog div.articles article p.time{
  color:#5c5c5c;
  font:300 16px 'Ubuntu', sans-serif;
  margin-bottom:10px;
}
#blog div.articles article p{
  color:#5c5c5c;
  font:16px 'Ubuntu', sans-serif;
  margin-bottom:10px;
}
#blog div.articles article a.more{
  float:right;
  color:#000000;
  font:16px 'Ubuntu', sans-serif;
  text-decoration:underline;
}
#blog div.articles article a.more:hover{
  text-decoration:none;
}
#blog aside{
  width:250px;
  float:right;
  margin-top:25px;
}
#blog aside p.head{
  color:#000000;
  font:bold 24px 'Ubuntu', sans-serif;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:55px;
}
#blog aside nav{
  
}
#blog aside nav ul li{
  font:300 17px 'Ubuntu', sans-serif;
  color:#FBC81D;
  margin-bottom:10px;
}
#blog aside nav ul li a{
  color:#5c5c5c;
}

#post{
  margin-top:25px;  
}
#post h1{
  text-align:center;
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
}
#post div.content{
  width:600px;
  float:left;
  margin-top:30px;
}
#post div.content div.thumbnail{
  margin-bottom:15px;
}
#post div.content div.thumbnail img{
  height: auto;
}
#post div.content p.time{
  color:#5c5c5c;
  font:300 16px 'Ubuntu', sans-serif;
  margin-bottom:10px;
}
#post div.content p{
  color:#5c5c5c;
  font:16px 'Ubuntu', sans-serif;
  margin-bottom:10px;
}
#post aside{
  width:250px;
  float:right;
  margin-top:25px;
}
#post aside p.head{
  color:#000000;
  font:bold 24px 'Ubuntu', sans-serif;
  text-align:center;
  text-transform:uppercase;
  margin-bottom:55px;
}
#post aside nav ul li{
  font:300 17px 'Ubuntu', sans-serif;
  color:#FBC81D;
  margin-bottom:10px;
}
#post aside nav ul li a{
  color:#5c5c5c;
}
#page404{
  margin-top:-150px;
}
#page404 p.title{
  text-align:center;
  color:#000000;
  font:bold 20px 'Ubuntu', sans-serif;
  position:relative;
  z-index:100;
}
#page404 p.title a{
  color:#8E0105;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-perspective: 12rem;
  -moz-perspective: 12rem;
  -ms-perspective: 12rem;
  -o-perspective: 12rem;
  perspective: 12rem;

  z-index: 2000;
  position: fixed;
  height: 6rem;
  width: 6rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 6rem;
  width: 6rem !important;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  background: #F9332A;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  text-align: center;

  -webkit-animation: pace-theme-center-circle-spin linear infinite 2s;
  -moz-animation: pace-theme-center-circle-spin linear infinite 2s;
  -ms-animation: pace-theme-center-circle-spin linear infinite 2s;
  -o-animation: pace-theme-center-circle-spin linear infinite 2s;
  animation: pace-theme-center-circle-spin linear infinite 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
}

@-webkit-keyframes pace-theme-center-circle-spin {
  from { -webkit-transform: rotateY(0deg) }
  to { -webkit-transform: rotateY(360deg) }
}

@-moz-keyframes pace-theme-center-circle-spin {
  from { -moz-transform: rotateY(0deg) }
  to { -moz-transform: rotateY(360deg) }
}

@-ms-keyframes pace-theme-center-circle-spin {
  from { -ms-transform: rotateY(0deg) }
  to { -ms-transform: rotateY(360deg) }
}

@-o-keyframes pace-theme-center-circle-spin {
  from { -o-transform: rotateY(0deg) }
  to { -o-transform: rotateY(360deg) }
}

@keyframes pace-theme-center-circle-spin {
  from { transform: rotateY(0deg) }
  to { transform: rotateY(360deg) }
}
@media screen and (min-width: 980px){
  header nav{
    display:block !important; 
  }
}
body.pace-running div.wrap{
  width:100%;
  height:100%;
  background:#ffffff;
  position:fixed;
  top:0;
  left:0;
  z-index:1900;
}
body.pace-done div.wrap{
  display:none;
}
@media screen and (max-width: 980px) and (min-width: 768px) {
   .wrapper{
    width:740px;   
   }
   header nav{
    margin-left:15px;
    display:block !important;   
   }
   #first_screen nav:before{
    width:750px;   
   }
   #banner div.hgroup p.head{
    font-size:100px;   
   }
   #our{
    background-position:50% 90px;   
   }
   #our div.one{
    width:300px;   
   }
   #our div.one div.text{
    width:220px;   
   }
   #add_request p.head{
    font-size:70px;   
   }
   #add_request p.span{
    font-size:40px;   
   }
   #reviews ul li{
    width:220px !important;   
   }
   /**/
   #schema ul li{
    float:none !important;
    margin:auto auto 25px !important;
  }
  #schema ul li:before{
    width:0 !important;
    height:0 !important;  
  }
  #schema ul li p{
    float:none !important;
    position:static !important;
    width:100% !important;
    text-align:center !important;   
  }
  #portfolio_page div.portfolio_list div.site{
    width:350px;
  }
  #portfolio_page div.portfolio_list div.site div.image{
    width:350px;
    height:210px;
  }
  #blog div.articles{
    width:450px;
  }
  #contact_page div.form{
    width:440px;
  }
  #contact_page div.form input, #contact_page div.form textarea{
    width:440px;
  }
}
@media screen and (max-width: 767px){
  .wrapper{
    width:300px;   
   }
   header{
    height:40px;   
   }
   header nav{
     display:none;
     margin-left:0px;
     position:absolute;
     top:40px;
     left:0;
     width:100%;
     background:#ffffff;   
   }
   header nav ul li{
    float:none;
    margin-bottom:10px;
    text-align:center;
    margin-left:0;   
   }
   header a.show_menu{
    display:block;
    float:right;
    color:#000000;
    font:bold 36px 'Ubuntu', sans-serif;
    margin:0px 10px 0 0;
  }
  header #logo{
    height:40px;
    background-size:auto 100%;  
  }
  #first_screen, #first_screen .wrapper{
    height:500px !important;  
  }
  #first_screen img{
    height:295px !important;  
  }
  #first_screen nav{
    bottom:15px;  
  }
   #first_screen nav:before{
    width:280px;   
   }
   #first_screen nav ul li{
    display:block;
    margin-bottom:5px;   
   }
   #about{
    margin-top:65px;   
   }
   #about h1{
    font:bold 24px/26px 'Ubuntu', sans-serif;   
   }
   #banner{
    height:450px !important;
    background-size:auto 100%;   
   }
   #banner div.hgroup{
    padding-top:180px;   
   }
   #banner div.hgroup p.head{
    font-size:42px;   
   }
   #banner div.hgroup p.span{
    font-size:26px;   
   }
   #our{
     background:none;
     padding-bottom:50px;
    background-position:50% 90px;   
   }
   #our div.one{
    width:300px;   
   }
   #our div.one div.text{
    width:220px;   
   }
   #portfolio{
    max-height:none;   
   }
   #portfolio div.site{
    width:50%;   
   }
   #add_request p.head{
    font-size:40px;   
   }
   #add_request p.span{
    font-size:28px;   
   }
   #reviews ul li{
    width:300px !important;
    margin-left:0;
    margin-bottom:20px;   
   }
   /**/
   #schema ul li{
     max-width:300px;
    float:none !important;
    margin:auto auto 25px !important;
  }
  #schema ul li:before{
    width:0 !important;
    height:0 !important;  
  }
  #schema ul li p{
    float:none !important;
    position:static !important;
    width:100% !important;
    text-align:center !important;   
  }
  footer div.logo2{
    width:300px;
    height:150px;
    margin-left:0;
    margin-top:25px;  
  }
  footer div.contacts{
    width:300px;
    margin-top:15px;  
  }
  footer p.copy{
    text-align:center;
    padding-right:0;
    font-size:14px; 
  }
  #portfolio_page{
    margin-top:45px;
  }
  #portfolio_page div.portfolio_list div.site{
    width:300px;
  }
  #portfolio_page div.portfolio_list div.site div.image{
    width:300px;
    height:180px;
  }
  #services{
    margin-top:65px;
  }
  #services div.services_list div.one{
    width:300px;
  }
  #services div.services_list div.one div.text{
    width:300px;
  }
  #services div.request_form p.title{
    font-size:24px;
    line-height:28px;
  }
  #services div.request_form form{
  width:300px;
  }
  #services div.request_form input{
    width:300px;
  }
  #services div.request_form textarea{
    width:300px;
  }
  #blog div.articles, #blog aside, #post aside{
    width:300px;
  }
  #blog div.articles article div.thumbnail img{
    height:auto;
  }
  #blog, #post{
    margin-top:55px;
  }
  #post div.articles article div.thumbnail img{
    height:auto;
  }
  #post div.content{
    margin-top:55px;
    width:300px;
  }
  #post h1{
    font-size:24px;
  }
  #post div.content img{
    height: auto;
  }
  #contact_page{
    margin-top:55px;
  }
  #contact_page div.form{
    width:300px;
  }
  #contact_page div.form input, #contact_page div.form textarea{
    width:300px;
  }
}

#last_items{
  margin-top:40px;  
}
#last_items h2{
  text-align:center;
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
  margin-bottom: 25px;
}
#last_items ul li{

}
#last_items ul li div.image{ 
  height: 200px;
  margin-bottom: 15px;
}
#last_items ul li p.title{
  font:17px 'Ubuntu', sans-serif;
  margin-bottom: 10px;
}
#last_items ul li p.title a{
  color:#000000;
}
#last_items ul li p.price{
  font:15px 'Ubuntu', sans-serif;
  color:#5C5C5C;
}
#last_items ul li p.price a{
  color:#000000;
}

#own_actions{
  margin-top:40px;  
}
#own_actions h3{
  text-align:center;
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
  margin-bottom: 25px;
}
#own_actions ul{
  margin-left: -30px;
}
#own_actions ul li{
  width:300px;
  float:left;
    margin-left:30px;
}
#own_actions ul li div.image{ 
  height: 200px;
  margin-bottom: 25px;
}
#own_actions ul li p.title{
  font:17px 'Ubuntu', sans-serif;
  margin-bottom: 10px;
}
#own_actions ul li p.title a{
  color:#000000;
}

#own_posts{
  margin-top:40px;  
}
#own_posts h3{
  text-align:center;
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
  margin-bottom: 25px;
}
#own_posts div.articles{
  margin-left: -30px;
}
#own_posts div.articles article{
  width:300px;
  float:left;
    margin-left:30px;
}
#own_posts div.articles article div.image{ 
  height: 200px;
  margin-bottom: 25px;
}
#own_posts div.articles article p.title{
  font:17px 'Ubuntu', sans-serif;
  margin-bottom: 10px;
}
#own_posts div.articles article p.title a{
  color:#000000;
}
#own_posts div.articles article div.intro{
  font:15px 'Ubuntu', sans-serif;
  margin-bottom: 10px;
  color:#555555; 
}
#own_posts div.articles article p.more{
  font:17px 'Ubuntu', sans-serif;
  text-align: right;  
}
#own_posts div.articles article p.more a{
  color:#000000;
}
.page{
  padding-top:140px;  
}
.page h1, .page h2{
  text-align:center;
  color:#000000;
  font:bold 36px 'Ubuntu', sans-serif;
}
#cart_items{
  margin-top:35px;
}
#cart_items h2{
  text-align: left;
}
#checkout{
  margin-top:30px;
}
#checkout h2{
  font-size: 18px;
}
#checkout p.count{
  text-align: center;
  color:#333333;
  font:15px 'Ubuntu', sans-serif;
}