<!DOCTYPE html>
<html>
<head>
  <title>Wood admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<nav class="navbar navbar-default">
  <p class="pull-left navbar-brand" style="margin-bottom: 0;">Админка woodshop</p>
  <ul class="nav navbar-nav pull-right" style="margin-bottom: 0;">
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Каталог <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Категории", admin_categories_path %></li>
        <li><%= link_to "Товары", admin_items_path %></li>
        <li><%= link_to "Акции", admin_actions_path %></li>
        <li><%= link_to "Комменты к товарам", admin_comments_path %></li>
      </ul> 
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Статьи <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Блог", admin_posts_path %></li>
        <li><%= link_to "Теги", admin_tags_path %></li>
        <li><%= link_to "Комменты к постам", admin_postcomments_path %></li>
      </ul>
    </li>
    <li><%= link_to "Отзывы", admin_reviews_path %></li>
    <li><%= link_to "Страницы", admin_pages_path %></li>
    <li><%= link_to "Способы оплаты", admin_paytypes_path %></li>
    <li><%= link_to "Заказы", admin_orders_path %></li>
    <li><%= link_to "Пользователи", userlist_path %></li>
    <li><%= link_to "Выйти", destroy_user_session_path %></li>    
  </ul>
</nav>
<% end %>
<div class="container">
<%= yield %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
  $('.ckeditor').ckeditor({
  // optional config
  });  
});
</script>
</body>
</html>
