<!DOCTYPE html>
<html>
<head>
  <title>Wood</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'front', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
<header class="transition">
      <div class="wrapper group">
          <a href="/" id="logo"></a>
              <nav class="transition">
                  <ul class="group">
                    <li><a href="/catalog">Каталог</a></li>
                    <li><a href="#">Как заказать</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="/blog">Блог</a></li>
                  </ul>
                </nav>
                <div class="right_buttons">
                  <% if(current_user) %>
                  <div class="user" style="display: inline-block;">
                    <a href="#" class="user">Привет, <%= current_user.name %></a>
                    <a href="/users/sign_out" class="logout">Выйти</a>  
                  </div>
                  <% else %>
                  <a href="/users/sign_in" class="login">Войти</a>
                  <% end %>
                  <div class="small_cart">
                    <a href="/cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span><%= countcart %></span>
                    </a>
                  </div>
                </div>
                  <a href="#" class="show_menu"><i class="fa fa-bars"></i></a>
                  <div class="login_form">
                    <%= form_for(:user, :url => session_path(:user)) do |f| %>
                      <%= f.text_field :email %>
                      <%= f.password_field :password %>
                      <p>
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                      </p>
                      <%= f.submit 'Войти' %>
                      <p><%= link_to "Forgot your password?", new_password_path(:user) %></p>
                    <% end %>
                  </div>
        </div>
    </header>
    
<%= yield %>

  <footer id="contacts">
      <div class="wrapper group">
          <div class="logo2"><a href="/"><img src="/images/bottom.png" alt="" class="img-resp"></a></div>
              <div class="contacts">
                  <p class="phone">+380661276288</p>
                    <p class="email"><a href="mailto:web_boom@yahoo.com">web_boom@yahoo.com</a></p>
                    <p class="skype"><a href="skype:web_boom">web_boom</a></p>
                </div>
                <div class="clear"></div>
                  <p class="copy">2015 &copy; Webboom Все права защищены</p>
        </div>
    </footer>   
<div class="wrap"></div>  


</body>
</html>

<script>
$(document).ready(function(){

  var _screenHeight = $(window).height();
  
  
  
//  $(window).load(function(){
  var first = function(){
    var _screenHeight = $(window).height();
    $('#first_screen, #first_screen .wrapper').css({
      'height' : _screenHeight
    });
    
    $('#first_screen img').height(_screenHeight-200);
    
    
  }
    first();
    
//  });
  $(window).on('resize',function(){
    first();
  });
});  
</script>
</body>
</html>
